<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Document</title>
  </head>
  <body>
    <h2>Your courses by year:</h2>
    <ul>
    {{range .}}
      <li>Year: {{.AcaYear}}</li>
        <ul>
          {{.Fall.Term}}:
          {{range .Fall.Courses}}
          <li>{{.Number}}: {{.Name}} ({{.Units}} units)</li>
         {{end}}
        </ul>
        <ul>{{.Spring.Term}}:
          {{range .Spring.Courses}}
          <li>{{.Number}}: {{.Name}} ({{.Units}} units)</li>
          {{end}}
        </ul>
      </ul>
    {{end}}
    </ul>
  </body>
</html>
