<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Document</title>
  </head>
  <body>
    <table>
      {{range .Heading}}
      <th>{{.}}</th>
      {{end}}
      {{range .Info}}
      <tr>
        {{range .}}
        <td>
        {{.}}
        <td>
        {{end}}
      </tr>
      {{end}}
    </table>
  </body>
</html>
